@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Remise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Trams.css" />
    <link rel="stylesheet" href="~/css/Rails.css" />
    <link rel="stylesheet" href="~/css/infotram.css" />

</head>
<body style="background-color: #51a69b;">
    <header>
        @if (ViewBag.ShowTopBar ?? true)
        {
            <nav class="Top-Container">
                <div class="TB-User">
                    @if (Context.Session.GetString("Username") == null)
                    {
                        <input class="TB-User-Profile" id="UserButton" type="button" value="Log In" style="background-image: url('../img/usericon.png');" onclick="window.location.href= '@Url.Action("Login", "Account")'" />
                    }
                    else
                    {
                        <input class="TB-User-Profile" id="UserButton" type="button" value="Log Out" style="background-image: url('../img/usericon.png');" onclick="window.location.href = '@Url.Action("Logout","Account")'" />
                    }
                </div>
                @if (!String.IsNullOrWhiteSpace(ViewBag.LatestMessage))
                {
                    <div style="width: 500px;height: 50px;border: 1px solid black;background: white;position: absolute;left: 50%;margin-left: -250px;top: 40px;">
                        <span style="font-size: 1.5em;position: absolute;padding-left: 5px;top: 3px;font-weight: bold;">
                            @ViewBag.LatestMessage
                        </span>
                    </div>
                }




                @if (Context.Session.GetString("Username") != null)
                {
                    <div class="Top-Button-Container">
                        <input class="Top-Bar TB-Normal" id="StartButton" type="button" runat="server" value="Start" onclick="BecomeSelected(false,true, 'StartButton', 'ScreenButton')" />
                        <input class="Top-Bar TB-Selected" id="ScreenButton" type="button" value="Schermen" onclick="BecomeSelected(true,false, 'ScreenButton', 'StartButton')" />
                    </div>
                    <div class="Bottom-Button-Container" style="display:inline-block;" id="ScreenContainer">
                        @if (Context.Session.GetString("Permission") == "Conducteur" || Context.Session.GetString("Permission") == "Admin")
                        {
                            @if (ViewBag.CurrentPage == "Index")
                            {
                                <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="ConductButton" type="button" value="Conducteur Scherm" style="background-image: url('../img/copI.png');" />
                            }
                            else
                            {
                                <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="ConductButton" type="button" value="Conducteur Scherm" style="background-image: url('../img/copI.png');" onclick="window.location.href = '@Url.Action("Index","Home")'" />
                            }
                        }
                        @if (Context.Session.GetString("Permission") == "Monteur" || Context.Session.GetString("Permission") == "Admin")
                        {
                            @if (ViewBag.CurrentPage == "Repairs")
                            {
                                <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="MechanicButton" type="button" value="Monteur" style="background-image: url('../img/spannerI.png');" />
                            }
                            else
                            {
                                <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="MechanicButton" type="button" value="Monteur" style="background-image: url('../img/spannerI.png');" onclick="window.location.href = '@Url.Action("Repairs","Service")'" />
                            }
                        }
                        @if (Context.Session.GetString("Permission") == "Schoonmaker" || Context.Session.GetString("Permission") == "Admin")
                        {
                            @if (ViewBag.CurrentPage == "Cleaning")
                            {
                                <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="CleanerButton" type="button" value="Schoonmaker" style="background-image: url('../img/broomI.png');" />
                            }
                            else
                            {
                                <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="CleanerButton" type="button" value="Schoonmaker" style="background-image: url('../img/broomI.png');" onclick=" window.location.href= '@Url.Action("Cleaning", "Service")' " />
                            }
                        }
                    </div>
                    @if (Context.Session.GetString("Permission") == "Conducteur" || Context.Session.GetString("Permission") == "Admin")
                    {
                        <div class="Bottom-Button-Container" style="display:none;" id="StartContainer">
                            <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="ReserverButton" type="Hidden" value="Spoor reserveren voor tram" style="background-image: url('../img/TramI.png'); background-position-y: -10px; background-size: 50% !important; width: fit-content;" onclick="BottomBecomeSelected('ReserverButton','RegisterButton')" />
                            <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="RegisterButton" type="button" value="Tram aanmelden" style="background-image: url('../img/TramArrowI.png'); background-position-y: 80%; background-size: 80% !important;" onclick="BottomBecomeSelected('RegisterButton','ReserverButton')" />
                        </div>
                    }
                }
            </nav>
        }
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ButtonSwitcher.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
