@model ServiceViewModel;
@{
    ViewData["Title"] = "Cleaning";
}
<link href="~/css/Service.css" rel="stylesheet" />

<div>
    <div style="text-align:center;">
        <div style="display:inline-block; width:500px;">
            <table style="width:100%;">
                <tr class="R-Info-bar">
                    <th>Nr</th>
                    <th>Spoor</th>
                    <th>Soort Schoonmaak</th>
                    <col />
                </tr>
                @if (Model.AllServices.Count > 29)
                {

                    @foreach (ServiceViewModel Service in Model.AllServices)
                    {
                        <tr>
                            <td class="C-content C-content-thin">@Model.Tram.TramNumber</td><!--Nr-->
                            <td class="C-content C-content-thin">@Model.User.Name</td><!--Spoor-->
                            <td class="C-content C-content-wide">@Model.ServiceType</td><!--Soort-->
                            <td class="C-Info-Status test">@Model.Occured</td><!--Status-->
                        </tr>
                    }
                }
                else
                {

                    @for (int i = 0; i < (29 - Model.AllServices.Count); i++)
                    {
                        if (Model.AllServices.Count > i)
                        {
                            <tr>
                                <td class="C-content C-content-thin">AAA</td><!--Nr-->
                                <td class="C-content C-content-thin">AAA</td><!--Spoor-->
                                <td class="C-content C-content-wide">AAA</td><!--Soort-->
                                <td class="C-Info-Status test">No</td><!--Status-->
                                @*<td class="C-content C-content-thin">@Model.AllServices[i].Tram.TramNumber</td><!--Nr-->
                                    <td class="C-content C-content-thin">@Model.AllServices[i].User.Name</td><!--Spoor-->
                                    <td class="C-content C-content-wide">@Model.AllServices[i].ServiceType</td><!--Soort-->
                                    <td class="C-Info-Status test">@Model.AllServices[i].Occured</td><!--Status-->*@
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="C-content C-content-thin"></td><!--Nr-->
                                <td class="C-content C-content-thin"></td><!--Spoor-->
                                <td class="C-content C-content-wide"></td><!--Soort-->
                                <td class="C-Info-Status"></td><!--Status-->
                            </tr>
                        }
                    }
                }

            </table>
        </div>
    </div>
</div>

