@{
    ViewData["Title"] = "MechanicPage";
}
<link href="~/css/Service.css" rel="stylesheet">
<link href="~/css/Repairs.css" rel="stylesheet">
@model IEnumerable<RepairServiceViewModel>

<div>
    <div style="text-align:center;">
        <div style="display:inline-block; width:500px;">
            <table style="width:100%;">
                <tr class="R-Info-bar">
                    <th>Nr</th>
                    <th>Repair Type</th>
                    <th>Omschrijving</th>
                </tr>
                @foreach (RepairServiceViewModel Service in Model)
                {
                    <tr>
                        <td onclick="clickInfoTram(@Service.TramNumber, @Service.TrackNumber)" class="R-content R-content-thin">@Service.TramNumber</td><!--Nr-->
                        <td class="R-content R-content-status">@Service.RepairType</td><!--Status-->
                        <td class="R-content R-content-wide">@Service.RepairMessage</td><!--Defect-->
                        <td class="R-Info-Status test"><button class="donebutton" onclick="RepairDone(@Service.TramNumber);">Uitgevoerd</button></td><!--Status-->
                    </tr>
                }
                @for (int i = 0; i < (10 - Model.Count()); i++)
                {
                    <tr>
                        <td class="R-content R-content-thin"></td><!--Nr-->
                        <td class="R-content R-content-thin"></td><!--Spoor-->
                        <td class="R-content R-content-wide"></td><!--Soort-->
                        <td class="R-Info-Status"></td><!--Status-->
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="testmodal">
    <div class="modal-dialog">
        <div class="modal-content" id="traminfo">

        </div>
    </div>
</div>
<div class="modal fade" id="Defect">
    <div class="modal-dialog">
        <div class="modal-content" id="Defectlog">

        </div>
    </div>
</div>
<div class="modal fade" id="modalRepairDone">
    <div class="modal-dialog">
        <div class="modal-content" id="repairconfirmation">
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function Defectlog(number) {
            //alert(Number);

            $.ajax({
                type: "POST",
                url: "/Service/PartialDefectLog",
                data: { tramnumber: number },
                success: function (response) {

                    $('#Defectlog').html(response);
                    $('#Defect').modal('show');
                }
            });
        }
        function RepairDone(_Tramnumber) {
            $.ajax({
                type: "POST",
                url: "/Service/RepairDone",
                data: { tramnumber: _Tramnumber },
                success: function (response) {
                    $('#repairconfirmation').html(response);
                    $('#modalRepairDone').modal('show');
                }
            });
        }


        function SizeStatusCSS() {
            var countdiv = document.querySelectorAll('#getcount div').length;
            var children = document.getElementById("getcount").children;
            var x = 100 / countdiv;
            for (var i = 0; i < countdiv; i++) {
                if (i == countdiv - 1) {
                    children[i].setAttribute("style", "width:" + x + "%; border-right: none !important;");
                    return;
                }
                children[i].setAttribute("style", "width:" + x + "%;");
            }
        }

        function clickInfoTram(_number, _track) {
            //alert(Number);

            $.ajax({
                type: "POST",
                url: "/Service/PartialRepairPopUp",
                data: { tramnumber: _number, tracknumber: _track },
                success: function (response) {

                    $('#traminfo').html(response);
                    $('#testmodal').modal('show');
                    SizeStatusCSS();
                }
            });
        }
    </script>
}