@{
    ViewData["Title"] = "Home Page";
}

@model DepotViewModel;

<div class="main-container">
    <div class="tracks-column">
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">38</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li onclick="clickInfoTram(@Model.DepotTracks[0].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[0].Sectors[0].Tram.TramNumber </a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">37</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                @{
                    for (int i = 0; i < 3; i++)
                    {
                        if (Model.DepotTracks[i].Sectors[0].Tram == null)
                        {
                            <li class="tracks-hover tracks-white"><a href="#"></a></li>
                        }
                        else
                        {
                            <li onclick="clickInfoTram(@Model.DepotTracks[i].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[1].Sectors[0].Tram.TramNumber </a></li>
                        }
                    }
                }
                @*<li onclick="clickInfoTram(@Model.DepotTracks[1].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[1].Sectors[0].Tram.TramNumber </a></li>
                    <li onclick="clickInfoTram(@Model.DepotTracks[2].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[2].Sectors[0].Tram.TramNumber </a></li>
                    <li onclick="clickInfoTram(@Model.DepotTracks[3].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[3].Sectors[0].Tram.TramNumber </a></li>
                    <li onclick="clickInfoTram(@Model.DepotTracks[4].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[4].Sectors[0].Tram.TramNumber </a></li>*@
                @*<li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>*@
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">36</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">35</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">34</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">33</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">32</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">31</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">30</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">40</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">41</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">42</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">43</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">44</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">45</a></li>
                <li class="tracks-red"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">58</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
    </div>
    <div class="tracks-column">
        <div class="container-train special tracks-combino tracks-combinoblue">
            <div class="container-header">
                <a class="container-brand" href="#">4x 11g/12g of 5x Combino</a>
            </div>
            <ul>
                <li class="tracks-white"><a href="#">57</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">56</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">55</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">54</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">53</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">52</a></li>
                <li class="tracks-darkred"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">51</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">64</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">63</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">62</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">61</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-repair tracks-red">
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">73</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">74</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">75</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">76</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">77</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-header">
                <a class="container-brand" href="#">Repair</a>
            </div>

        </div>
        <div class="container-train special tracks-gray tracks-long-stay">
            <div class="container-header">
                <a class="container-brand" href="#">Lang parkeer-sporen</a>
            </div>
            <div class="container-train normal">
                <ul>
                    <li class="tracks-white"><a href="#">12</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">13</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">14</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">15</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">16</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">17</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">18</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">19</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">20</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">21</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="testmodal">
    <div class="modal-dialog">
        <div class="modal-content" id="traminfo">

        </div>
    </div>
</div>
<div class="modal fade" id="RegisterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="register-tram-info">
                    <h4 class="register-tram-title">Tram Aanmelden</h4>
                </div>
                <form method="post" action="/Home/ParkTram">
                    <div class="register-tram-left">
                        <div class="register-tram-info">
                            <label>Tramnummer :</label>
                            <input type="number" name="tramnumber" value="" />
                            <input type="checkbox" name="clean" value="clean"> <label class="register-label">Schoonmaak nodig?</label>
                            <input type="checkbox" name="repair" value="repair" id="repairchecked" onclick="toggleRepairField()"> <label class="register-label">Reparatie nodig?</label>
                            <textarea style="display: none;" id="repairreason" classrows="4" cols="40" name="repairreason" placeholder="Reden voor Reperatie"></textarea>
                        </div>
                        <input type="submit" class="register-tram-button" value="Verstuur" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReserverModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="reserve-tram-info">
                    <h4 class="reserve-tram-title">Reserveer spoor voor tram</h4>
                </div>
                <form method="post" action="/Home/ReserveTrack">
                    <div class="reserve-tram-left">
                        <div class="reserve-tram-info">
                            <label>Tramnummer :</label>
                            <input type="number" name="tramnumber" value="" />

                            <label>Spoornummer :</label>
                            <select name="tracknumber">
                                <option value="38">38</option>
                                <option value="37">37</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <input type="submit" class="reserve-tram-button" value="Verstuur" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MoveTram">
    <div class="modal-dialog">
        <div class="modal-content" id="MoveTramInfo">

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function MoveTram(_tramnumber, _track) {
            $.ajax({
                type: "POST",
                url: "/Home/PartialViewMoveTram",
                data: { tramnumber: _tramnumber, track: _track },
                success: function (response) {
                    $('#MoveTramInfo').html(response);
                    $('#MoveTram').modal('show');
                }
            });
        }
        function toggleRepairField() {
            var repairchecked = document.getElementById("repairchecked");
            var repairreason = document.getElementById("repairreason");

            if (repairchecked.checked == true) {
                repairreason.style.display = "block";
            } else {
                repairreason.style.display = "none";
            }
        }
        function SizeStatusCSS() {
            var countdiv = document.querySelectorAll('#getcount div').length;
            var children = document.getElementById("getcount").children;
            var x = 100 / countdiv;
            for (var i = 0; i < countdiv; i++) {
                if (i == countdiv - 1) {
                    children[i].setAttribute("style", "width:" + x + "%; border-right: none !important;");
                    return;
                }
                children[i].setAttribute("style", "width:" + x + "%;");
            }
        }

        function clickInfoTram(number) {
            //alert(Number);

            $.ajax({
                type: "POST",
                url: "/Home/InformationTramPopUp",
                data: { tramnumber: number },
                success: function (response) {

                    $('#traminfo').html(response);
                    $('#testmodal').modal('show');
                    SizeStatusCSS();
                }
            });
        }

//        $(document).on("click",
//            '#MoveTramTest',
//            function (event) {
//                var _tramnumber = $('#testmodal').getElementById("tramnumber");
//                var _track = document.getElementById("track");
//                $.ajax({
//                    type: "POST",
//                    url: "/Home/PartialViewMoveTram",
//                    data: { tramnumber: _tramnumber, track : _track },
//                    success: function (response) {
//                        $('#MoveTramInfo').html(response);
//                        $('#MoveTram').modal('show');
//                    }
//                });
//            });

                //$(document).ready(function () {

                //});
    </script>
}

