@{
    ViewData["Title"] = "Home Page";
}

@model DepotViewModel;

<div class="main-container">
    <div class="tracks-column">
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">38</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li onclick="clickInfoTram(@Model.DepotTracks[0].Sectors[0].Tram.TramNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[0].Sectors[0].Tram.TramNumber </a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
                @*@{
                        int i = 0;
                        foreach (TestClasses.Sector depot in Model.Tracks[0].Sectors)
                        {
                            if (Model.Tracks[0].Sectors[i].Trams[0] != null)
                            {
                                <li onclick="clickInfoTram(@Model.Tracks[0].Sectors[i].Trams[0].Number)" class="tracks-hover tracks-white"><a href="#"> @Model.Tracks[0].Sectors[i].Trams[0].Number </a></li>
                            }
                            else if (Model.Tracks[0].Sectors.Length - 1 == i)
                            {
                                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
                            }
                            else
                            {
                                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                            }
                            i++;
                        }
                    }*@
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">37</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">36</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">35</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">34</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">33</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">32</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">31</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">30</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">40</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">41</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">42</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">43</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">44</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">45</a></li>
                <li class="tracks-red"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">58</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
    </div>
    <div class="tracks-column">
        <div class="container-train special tracks-combino tracks-combinoblue">
            <div class="container-header">
                <a class="container-brand" href="#">4x 11g/12g of 5x Combino</a>
            </div>
            <ul>
                <li class="tracks-white"><a href="#">57</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">56</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">55</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">54</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">53</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">52</a></li>
                <li class="tracks-darkred"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">51</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">64</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">63</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">62</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">61</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-repair tracks-red">
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">73</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">74</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">75</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">76</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">77</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
            <div class="container-header">
                <a class="container-brand" href="#">Repair</a>
            </div>

        </div>
        <div class="container-train special tracks-gray tracks-long-stay">
            <div class="container-header">
                <a class="container-brand" href="#">Lang parkeer-sporen</a>
            </div>
            <div class="container-train normal">
                <ul>
                    <li class="tracks-white"><a href="#">12</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">13</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">14</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">15</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">16</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">17</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">18</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">19</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">20</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                    <li class="tracks-white"><a href="#">21</a></li>
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div id="testmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="status-left">
                <div class="status-info">
                    <h4 class="status-title">Tram @Model.DepotTracks[0].Sectors[0].Tram.TramNumber</h4>
                    <h4 class="status-title">Spoornummer: @Model.DepotTracks[0].TrackNumber</h4>
                    <h4 class="status-title">Soort: @Model.DepotTracks[0].Sectors[0].Tram.Type</h4>
                </div>
                <div class="status-info">
                    <p class="status-title">Laatste Schoonmaakbeurt</p>
                    <p>Klein: 0 dagen geleden</p>
                    <p>Groot: 35 dagen geleden</p>
                </div>
                <div class="status-info">
                    <p class="status-title">Laatste Servicebeurt</p>
                    <p>Klein: 0 dagen geleden</p>
                    <p>Groot: 35 dagen geleden</p>
                </div>
                <div id="getcount" class="status-inline">
                    <div>Status:</div>
                    <div class="status-defect">Reparatie</div>
                    <div class="status-cleaning">Schoonmaak</div>
                </div>
            </div>
            <div class="status-right">
                <input type="button" class="status-buttom" value="Verplaats Tram naar..." />
                <input type="button" class="status-buttom" value="Verwijder Tram" />
                <input type="button" class="status-buttom" value="Schoonmaak Aanmelden" />
                <input type="button" class="status-buttom" value="Stuur naar Reperatie" />
            </div>
        </div>
    </div>
</div>



@section Scripts  {
    <script type="text/javascript">
        function clickInfoTram(number) {
            //alert(Number);
            $('#testmodal').modal('show');
        }
        $(document).ready(function () {
            var countdiv = document.querySelectorAll('#getcount div').length;
            var children = document.getElementById("getcount").children;
            var x = 100 / countdiv;
            for (var i = 0; i < countdiv; i++) {
                if (i == countdiv - 1) {
                    children[i].setAttribute("style", "width:" + x + "%; border-right: none !important;");
                    return;
                }
                children[i].setAttribute("style", "width:" + x + "%;");
            }

        });

    </script>
}